
materials-science/duncan-analysis/.ipynb_checkpoints/MgNd_nfHEDM_analysis-checkpoint.ipynb
*.idx
materials-science/duncan-analysis/MgNd_nfHEDM_cropped_pointcloud/visus/0000.bin
materials-science/duncan-analysis/assets/mg24sht_stitched_vol_10um.vtk
Visualization-with-Bokeh/.ipynb_checkpoints/neon-checkpoint.ipynb
materials-science/4D_micro_CT/.ipynb_checkpoints/open_4D_micro_CT-checkpoint.ipynb
materials-science/4D_micro_CT/.ipynb_checkpoints/Open_4D_micro_CT_and_extract_slice-checkpoint.ipynb
neuroscience/.ipynb_checkpoints/RabbitRetinaEM_interactive-checkpoint.ipynb
Visualization-with-Bokeh/.ipynb_checkpoints/Untitled-checkpoint.ipynb
.idea/