
materials-science/duncan-analysis/.ipynb_checkpoints/MgNd_nfHEDM_analysis-checkpoint.ipynb
*.idx
materials-science/duncan-analysis/MgNd_nfHEDM_cropped_pointcloud/visus/0000.bin
materials-science/duncan-analysis/assets/mg24sht_stitched_vol_10um.vtk
